<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Array of three stacks</title>
</head>

<body>
<nav th:replace="fragments/navBar :: nav"></nav>

<div class="container">
    <h1>Implementing an array of three stacks</h1>

    <p>
        This demonstrates the implementation of an array of three stacks, with the automation of populating another
        stack if the present stack is full. The size of each stack need not be equal.
    </p>

    <pre>
        <code class="lang-java">
        private final int stack1Size;
        private final int stack2Size;
        private final int stack3Size;
        private final T[] stackArray;
        private int stack1topIndex;
        private int stack2topIndex;
        private int stack3topIndex;

        public ArrayOfThreeStacks(int stack1Size, int stack2Size, int stack3Size){
            //care needed to keep this execution away from client code until T is known
            this.stack1Size = stack1Size;
            this.stack2Size = stack2Size;
            this.stack3Size = stack3Size;

            this.stackArray = (T[]) new Object[this.stack1Size + this.stack2Size + this.stack3Size];
            this.stack1topIndex = -1;
            this.stack2topIndex = stack1topIndex + stack1Size;
            this.stack3topIndex = stack2topIndex + stack2Size;
        }
        </code>
    </pre>

    <p>
        Pushing to a stack is achieved with the assistance of a couple of helper methods.
    </p>

    <pre>
        <code class="lang-java">
        public T push(T data, int stackNumber){
            if (!stackNumberIsValid(stackNumber)) return null;

            int flag;

            //establish which stack to process
            if (stackNumber == 1){
                flag = pushToStack(1, data);
            } else if (stackNumber == 2){
                flag = pushToStack(2, data);
            } else
                flag = pushToStack(3, data);

            if (flag == 1){
                return data;
            } else
                return null;
        }

        private boolean stackNumberIsValid(int stackNumber) {
            if (stackNumber &lt; 1 || stackNumber &gt; 3) {
                System.out.println("Stack number of 1, 2 or 3 required");
                return false;
            }
            return true;
        }

        private int pushToStack(int stack, T data) {
            if (!stackNumberIsValid(stack)) return -1;

            if (this.isFull(stack)){
                System.out.println("Stack " + stack + " is full, cannot push data to stack " + stack);

                if (++stack > 3){
                    System.out.println("All stacks are full");
                    return 0;
                }

                //try the next stack
                int flag = (pushToStack(stack, data));
                if (flag == 1){
                    return 1;
                } else {
                    return 0;
                }
            }

            if (stack == 1){
                this.stackArray[++stack1topIndex] = data;
            } else if (stack == 2){
                this.stackArray[++stack2topIndex] = data;
            } else
                this.stackArray[++stack3topIndex] = data;

            return 1;
        }

        private boolean isFull(int stack){
            if (stack == 1){
                return stack1topIndex == stack1Size - 1;
            } else if (stack == 2){
                return stack2topIndex == stack1Size + stack2Size - 1;
            } else
                return stack3topIndex == stack1Size + stack2Size + stack3Size - 1;
        }
        </code>
    </pre>

    <p>
        The other key methods, pop(), peek() and isEmpty() are given below.
    </p>

    <pre>
        <code class="lang-java">
        public T pop(int stack){
            if (!stackNumberIsValid(stack)) return null;

            if (isEmpty(stack)){
                System.out.println("Stack " + stack + " is empty");
                throw new EmptyStackException();
            }

            T temp;
            if (stack == 1){
                temp = this.stackArray[stack1topIndex--];
            } else if (stack ==  2){
                temp = this.stackArray[stack2topIndex--];
            } else {
                temp = this.stackArray[stack3topIndex--];
            }
            return temp;
        }

        public T peek(int stack){
            if (!stackNumberIsValid(stack)) return null;

            if (this.isEmpty(stack)) throw new EmptyStackException();

            if (stack == 1){
                return this.stackArray[stack1topIndex];
            } else if (stack == 2){
                return this.stackArray[stack2topIndex];
            } else
                return this.stackArray[stack3topIndex];
        }

        public boolean isEmpty(int stack){
            if (!stackNumberIsValid(stack)) return false;

            if (stack == 1){
                return this.stack1topIndex &lt; 0;
            } else if (stack == 2){
                return this.stack2topIndex &lt; this.stack1Size;
            } else
                return this.stack3topIndex &lt; (this.stack1Size + this.stack2Size);
        }
        </code>
    </pre>

    <p>
        The passing unit tests are summarised below.
    </p>

    <pre>
        <code class="lang-java">
        class ArrayOfThreeStacksTest {

            ArrayOfThreeStacks&lt;String&gt; arrayOfThreeStacks;
            String first;
            String second;
            String third;
            String fourth;
            String fifth;

            @BeforeEach
            void setUp() {
                arrayOfThreeStacks = new ArrayOfThreeStacks&lt;&gt;(2, 1, 1);
                first = "first";
                second = "second";
                third = "third";
                fourth = "fourth";
                fifth = "fifth";
            }

            @Test
            void pushAndIsEmpty() {
                arrayOfThreeStacks.push(first, 1);
                assertFalse(arrayOfThreeStacks.isEmpty(1));
                assertTrue(arrayOfThreeStacks.isEmpty(2));
                assertTrue(arrayOfThreeStacks.isEmpty(3));
            }

            @Test
            void pushAndIsEmpty_wrongStackID() {
                arrayOfThreeStacks.push(first, 4);
                assertTrue(arrayOfThreeStacks.isEmpty(1));
                assertTrue(arrayOfThreeStacks.isEmpty(2));
                assertTrue(arrayOfThreeStacks.isEmpty(3));
            }

            @Test
            void pop() {
                arrayOfThreeStacks.push(first, 1);
                assertEquals(first, arrayOfThreeStacks.pop(1));
                assertThrows(EmptyStackException.class, () -&gt; {
                    arrayOfThreeStacks.pop(2);
                });
                assertThrows(EmptyStackException.class, () -&gt; {
                    arrayOfThreeStacks.pop(3);
                });
            }

            @Test
            void peek() {
                arrayOfThreeStacks.push(first, 1);
                assertEquals(first, arrayOfThreeStacks.peek(1));
                assertThrows(EmptyStackException.class, () -&gt; {
                    arrayOfThreeStacks.peek(2);
                });
                assertThrows(EmptyStackException.class, () -&gt; {
                    arrayOfThreeStacks.peek(3);
                });
            }

            @Test
            void pushToDifferentStacks(){
                arrayOfThreeStacks.push(first, 1);
                arrayOfThreeStacks.push(second, 2);
                arrayOfThreeStacks.push(third, 3);

                assertEquals(first, arrayOfThreeStacks.peek(1));
                assertEquals(second, arrayOfThreeStacks.peek(2));
                assertEquals(third, arrayOfThreeStacks.peek(3));

                assertEquals(first, arrayOfThreeStacks.pop(1));
                assertEquals(second, arrayOfThreeStacks.pop(2));
                assertEquals(third, arrayOfThreeStacks.pop(3));

                assertTrue(arrayOfThreeStacks.isEmpty(1));
                assertTrue(arrayOfThreeStacks.isEmpty(2));
                assertTrue(arrayOfThreeStacks.isEmpty(3));
            }

            @Test
            void overFlowToNextStack(){
                arrayOfThreeStacks.push(first, 1);
                arrayOfThreeStacks.push(second, 1);
                arrayOfThreeStacks.push(third, 1);

                assertEquals(second, arrayOfThreeStacks.peek(1));
                assertEquals(third, arrayOfThreeStacks.peek(2));

                assertEquals(second, arrayOfThreeStacks.pop(1));
                assertEquals(first, arrayOfThreeStacks.pop(1));
                assertEquals(third, arrayOfThreeStacks.pop(2));

                assertTrue(arrayOfThreeStacks.isEmpty(1));
                assertTrue(arrayOfThreeStacks.isEmpty(2));
                assertTrue(arrayOfThreeStacks.isEmpty(3));
            }

            @Test
            void allStacksFull(){
                arrayOfThreeStacks.push(first, 1);
                arrayOfThreeStacks.push(second, 1);
                arrayOfThreeStacks.push(third, 1);
                arrayOfThreeStacks.push(fourth, 1);

                assertNull(arrayOfThreeStacks.push(fifth, 1));

                assertEquals(second, arrayOfThreeStacks.peek(1));
                assertEquals(third, arrayOfThreeStacks.peek(2));
                assertEquals(fourth, arrayOfThreeStacks.peek(3));

                assertEquals(second, arrayOfThreeStacks.pop(1));
                assertEquals(first, arrayOfThreeStacks.pop(1));
                assertEquals(third, arrayOfThreeStacks.pop(2));
                assertEquals(fourth, arrayOfThreeStacks.pop(3));

                assertTrue(arrayOfThreeStacks.isEmpty(1));
                assertTrue(arrayOfThreeStacks.isEmpty(2));
                assertTrue(arrayOfThreeStacks.isEmpty(3));
            }
        }
        </code>
    </pre>
</div>


<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>