<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Stacks and queues</title>
</head>

<body>
<nav th:replace="fragments/navBar :: nav"></nav>

<div class="container">
    <h1>Stacks and queues</h1>

    <p>
        The sub-topics covered are:
    </p>

    <ul>
        <li>Custom implementation of a stack via a linked list (nested class),
            <a th:href="@{/stacksAndQueues/listStack}">ListStack</a>, and via an array,
            <a th:href="@{/stacksAndQueues/arrayStack}">ArrayStack</a></li>
        <li>Custom implementation of a <a th:href="@{/stacksAndQueues/listQueue}">queue</a>, via a linked list</li>
        <li>Implementing an <a th:href="@{/stacksAndQueues/arrayOfThree}">array of three stacks</a>. Each stack has a maximum capacity and when a stack is full, another vacant stack is populated.</li>
        <li>Implementation of <a th:href="@{/stacksAndQueues/arrayStackWithMin}">an array based stack</a>, with an additional getMinimum() method to return the smallest int</li>
        <li>Set of stacks. Each stack has a maximum capacity and when a stack is full, another vacant stack is populated.
        Includes a popAt() and peekAt() methods which parses a specific stack.</li>
        <li>Implementing a queue using two stacks</li>
        <li>Building a stack which stores the smallest element at the top of the stack</li>
        <li>Animal shelter. Implementing two queues such that dequeue() returns an animal based on shelter time or type
        (dog or cat) only.</li>
    </ul>
</div>


<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>