<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Unique strings</title>
</head>

<body>
<nav th:replace="fragments/navBar :: nav"></nav>

<div class="container">
    <h1>Deducing if an array of ASCII characters is unique or not</h1>

    <p>
        Deciding whether an array is composed of unique characters or not is implemented with and without another array,
        which tallies the number of times an character appears in the string.
    </p>

    <pre>
        <code class="lang-java">
        private final String input;
        private final int[] tallyArray;

        public AllUniqueChars(String input) {
            this.input = input;
            //assume ASCII here
            this.tallyArray = new int[128];     //all elements are padded with zeros
        }
        </code>
    </pre>

    <p>
        The first approach employs a tallying array. When one of the tally elements has been assigned a value of one,
        any further addition to the element returns returns. Given the limit imposed on the tally array, only ASCII
        characters can be compared.
    </p>

    <pre>
        <code>
        // with ADT (i.e. an array which records which characters are present) is O(n)
        public boolean areAllUniqueChars_withADT(){
            for (int i = 0; i < this.input.length(); i++){
                char character = this.input.charAt(i);
                if ((int) character < 32 || (int) character > 159){
                    System.out.println("Only ASCII characters should be entered.");
                    return false;
                }
                tallyArray[character - 32]++;

                if (tallyArray[character - 32] > 1){
                    System.out.println("With ADT. Duplicated character found: " + character);
                    return false;
                }
            }
            System.out.println("With ADT. All characters are unique");
            return true;
        }
        </code>
    </pre>

    <p>Try out areAllUniqueChars_withADT() <a th:href="@{/arrays/allUniqueChars/demo}">here</a>.</p>

    <p>
        The following approach takes longer to process without a tallying array. There is no restriction with the character
        set applied.
    </p>

    <pre>
        <code>
        // without ADT is O(n^2)
        public boolean areAllUniqueChars_withoutADT(){
            for (int i = 0; i < this.input.length(); i++){
                for (int j = i+1; j < this.input.length(); j++){
                    if (this.input.charAt(i) == this.input.charAt(j)){
                        System.out.println("Without ADT. Duplicated character found: " + this.input.charAt(i));
                        return false;
                    }
                }
            }
            System.out.println("Without ADT. All characters are unique");
            return true;
        }
        </code>
    </pre>

    <p>Try out areAllUniqueChars_withoutADT() <a th:href="@{/arrays/allUniqueChars/demo}">here</a>.</p>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>