<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Arrays</title>
</head>

<body>

<div class="container">
    <h1>Arrays, StringBuilder and Hashtables</h1>

    <p>
        The sub-topics covered are:
    </p>

    <ul>
        <li><a th:href="@{/arrays/customArrayList}">Custom ArrayList</a>, with key methods</li>
        <li>Custom hash table, with key methods</li>
        <li>Custom StringBuilder, with key methods</li>
        <li>Determining whether an array contains <a th:href="@{/arrays/allUniqueChars}">unique characters</a></li>
        <li>Check if one string is a <a th:href="@{/arrays/stringIsAPermutation}">permutation</a> of another</li>
        <li>Reformat a string, <a th:href="@{/arrays/URLstring}">replacing whitespace with '%20'</a></li>
        <li>Determining if a string is a <a th:href="@{/arrays/palindrome}">palindrome</a></li>
        <li>Check if one string can be converted to another in only <a th:href="@{/arrays/oneOp}">one operation</a> (add, replace or delete)</li>
        <li><a th:href="@{/arrays/compression}">String compression</a>: replacing repeated characters with number literal to denote the number of repeats</li>
        <li>Rotating a matrix</li>
        <li>Setting the row and column of a matrix of a zero element with zeros</li>
        <li>Checking if one string can be rotated (cycled) to mirror another string</li>
    </ul>
</div>


<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>