<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Rotating (cycling) strings</title>
</head>

<body>
<nav th:replace="fragments/navBar :: nav"></nav>

<div class="container">
    <h1>Deducing if a string is a rotation of another</h1>

    <p>
        This algorithm compares two strings and determines if one is a rotation of another e.g. "bottleOfWine" and "WinebottleOf".
    </p>

    <pre>
        <code class="lang-java">
        private final String stringA;

        public StringRotation(String stringA) {
            this.stringA = stringA;
        }
        </code>
    </pre>

    <p>
        The method, compareTo() is given below, and cycles through both strings checking for equality. Both strings must
        be of equal length. The pointer to stringA continues to increase throughout until it reaches the end. The key
        idea here is to find the index of stringB where stringA ends, and see if the remainder of stringB is a substring
        of stringA.
    </p>

    <pre>
        <code>
        // scan stringA until two consecutive chars match beginning sequence of chars in stringB;
        // index i always advances one place and the while loop terminates at the end of stringA, hence O(n)
        public boolean compareTo(String stringB){
            if (this.stringA.length() != stringB.length()){
                System.out.println("Can only compare two strings of equal length");
                return false;
            }

            int indexA = 0, indexB = 0;
            while (indexA < this.stringA.length()){
                if (this.stringA.charAt(indexA) == stringB.charAt(indexB)){
                    // where are we in stringA ??
                    if (indexA == this.stringA.length() - 1){
                        // scanned end of stringA, compare the remainder of stringB
                        return endOfStringB_inStringA(stringB, indexB);
                    } else {
                        // not at the end, advance indexA and indexB and repeat
                        indexA++;
                        indexB++;
                    }
                } else {
                    // mismatch, so restart indexB but continue with indexA
                    // this also means that we will reach the end of stringA first
                    indexA++;
                    indexB = 0;
                }
            }

            //traversed stringA without any match
            System.out.println("Supplied string \"" + stringB + "\" is not a rotation of \"" + this.stringA + "\"");
            return false;
        }
        </code>
    </pre>

    <p>
        The helper method determines if the ending characters of stringB (the part that was effectively ignored up to
        now) starting from the given index, is found in stringA.
    </p>

    <pre>
        <code>
        // use this to establish if stringB terminal fragment is at the beginning of this.stringA
        private boolean endOfStringB_inStringA(String stringB, int indexB) {

            // does this.stringA contain the remaining characters, starting from stringB[indexB]...
            if (this.stringA.contains(stringB.substring(indexB +1))){
                System.out.println("Supplied string \"" + stringB + "\" is a rotation of \"" + this.stringA + "\"");
                return true;
            } else {
                System.out.println("Supplied string \"" + stringB + "\" is not a rotation of \"" + this.stringA + "\"");
                return false;
            }
        }
        </code>
    </pre>

    <p>Try out compareTo() <a th:href="@{/arrays/rotateString/demo}">here</a>.</p>

</div>

<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>