<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Rotating (cycling) strings</title>
</head>

<body>

<div class="container">
    <h1>Deducing if a string is a rotation of another</h1>

    <p>Try out the methods below.</p>

    <form th:action="@{/arrays/rotateString/demo}" method="post" class="form-signin">
        <div class="row">
            <div class="col-3">
                <div class="form-label-group">
                    <label for="asciiString">String A </label>
                </div>
                <div>
                    <label for="asciiString2">String B </label>
                </div>
            </div>
            <div class="col-9">
                <input type="text" id="asciiString" name="stringA" class="form-control" autofocus
                       autocomplete="off" placeholder="Enter a string"/>
                <input type="text" id="asciiString2" name="stringB" class="form-control" autofocus
                       autocomplete="off" placeholder="Enter a different string"/>
                <button class="btn btn-success" type="submit">Assess</button>
                <!--/*@thymesVar id="rotation" type="java.lang.String"*/-->
                <span class="help-block" th:if="${rotation != null}">
                    <p class="alert alert-info" th:text="${rotation}"></p>
                </span>
            </div>
        </div>
    </form>

    <a class="btn btn-success" th:href="@{/arrays/rotateString/demo}">Refresh page</a>
    <a class="btn btn-success" th:href="@{/arrays/rotateString}">Go back</a>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>