<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Zeroing columns and rows</title>
</head>

<body>

<div class="container">
    <h1>Zeroing columns and rows of matrices</h1>

    <p>
        The row and column of a matrix in which one element in the same row and column is zero, are all set to zero with
        setToZero().
    </p>

    <pre>
        <code class="lang-java">
        private final int[][] matrix;

        public ZeroAMatrix(int[][] matrix) {
            this.matrix = matrix;
        }
        </code>
    </pre>

    <p>
        The approach works by scanning the matrix for zero elements:
    </p>

    <pre>
        <code>
        // this helper method looks for zero elements, in preparation for flagZeroElements()
        public ZeroAMatrix initialiseZeroElements(){
            for (int row = 0; row < this.matrix.length; row++){
                for (int col = 0; col < this.matrix[0].length; col++){
                    if (this.matrix[row][col] == 0){
                        flagZeroElements(row, col);
                    }
                }
            }
            return this;
        }
        </code>
    </pre>

    <p>
        The elements with zero value are then processed with flagZeroElements(), which negates all values in the same
        row and column of the zero-element.
    </p>

    <pre>
        <code>
        // this method negates all elements in the given row and column
        private ZeroAMatrix flagZeroElements(int row_index, int col_index) {
            int row = 0, col = 0;

            // process each row and negate all positive elements in given col_index
            while (row < this.matrix.length){
                if (this.matrix[row][col_index] > 0){
                    this.matrix[row][col_index] = -this.matrix[row][col_index];
                }
                row++;
            }

            // process each column and negate all positive elements in the given row_index
            // assume each row is of the same length hence draw from the first row, this.matrix[0].length
            while (col < this.matrix[0].length){
                if (this.matrix[row_index][col] > 0){
                    this.matrix[row_index][col] = -this.matrix[row_index][col];
                }
                col++;
            }
            return this;
        }
        </code>
    </pre>

    <p>
        The algorithm is performed using both above helper methods:
    </p>

    <pre>
        <code>
        public ZeroAMatrix setToZero(){
            // first scan for elements where zero resides and negate all values in the same row and column
            initialiseZeroElements();

            // then scan for negative elements and set them to zero
            for (int row = 0; row < this.matrix.length; row++){
                for (int col = 0; col < this.matrix[0].length; col++){
                    if (this.matrix[row][col] < 0){
                        this.matrix[row][col] = 0;
                    }
                }
            }
            return this;
        }
        </code>
    </pre>

    <p>
        To build a string and subsequently print the results, use printMatrix():
    </p>

    <pre>
        <code>
        public String printMatrix(){
            StringBuilder stringBuilder = new StringBuilder();
            for (int[] row : this.matrix) {
                for (int col = 0; col < row.length; col++) {
                    stringBuilder.append(row[col]);
                    stringBuilder.append('\t');
                }
                stringBuilder.append('\n');
            }
            return stringBuilder.toString();
        }
        </code>
    </pre>

    <p>Try out the above methods <a th:href="@{/arrays/zeroMatrix/demo}">here</a>.</p>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>