<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Algorithms in Java</title>
</head>

<body>

<div class="container">
    <h1>Algorithms in Java</h1>

    <p>
        This project presents the code with runnable examples of commonly applied ADTs and algorithms. The topics covered are:
    </p>

    <ul>
        <li>Arrays, StringBuilder and Hashtables</li>
        <li>Linked lists</li>
        <li>Stacks and queues</li>
        <li>Trees and graphs</li>
        <li>Bits and bytes</li>
        <li>OOP and design patterns</li>
        <li>Recursion and Memoization</li>
        <li>Searching and sorting methods</li>
        <li>Concurrent programming</li>
    </ul>
</div>


<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>