body {
    background: darkslategrey;
    padding-top: 60px;
}

p {
    color: white;
    font-size: 1.1rem;
}

li:not(.nav-item) {
    color: lightyellow;
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
}

a {
    color: lightcoral;
}

h1 {
    color: white;
    margin-top: 1.1rem;
    margin-bottom: 1.2rem;
    font-weight: bolder;
}

h3 {
    color: white;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    font-weight: bolder;
}

label {
    color: white;
    font-size: 1.1rem;
}

hr {
    margin-top: 1.1rem;
    background-color: darkorange;
}

button.btn.btn-success {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}