<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>One difference away</title>
</head>

<body>
<nav th:replace="fragments/navBar :: nav"></nav>

<div class="container">
    <h1>Deducing if a string is one operation away from another string</h1>

    <p>Try out the methods below.</p>

    <form th:action="@{/arrays/oneOp/demo}" method="post" class="form-signin">
        <div class="row">
            <div class="col-3">
                <div class="form-label-group">
                    <label for="asciiString1">String 1 </label>
                </div>
                <div class="form-label-group">
                    <label for="asciiString2">String 2 </label>
                </div>
            </div>
            <div class="col-9">
                <input type="text" id="asciiString1" name="stringEntered" class="form-control" autofocus
                       autocomplete="off" placeholder="Enter a string"/>
                <input type="text" id="asciiString2" name="comparison" class="form-control"
                       autocomplete="off" placeholder="Enter a string"/>
                <button class="btn btn-success" type="submit">Compare</button>
                <!--/*@thymesVar id="oneAway" type="java.lang.String"*/-->
                <span class="help-block" th:if="${oneAway != null}">
                    <p class="alert alert-info" th:text="${oneAway}"></p>
                </span>
            </div>
        </div>
    </form>

    <a class="btn btn-success" th:href="@{/arrays/oneOp/demo}">Refresh page</a>
    <a class="btn btn-success" th:href="@{/arrays/oneOp}">Go back</a>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>