<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Matrix operations</title>
</head>

<body>
<nav th:replace="fragments/navBar :: nav"></nav>

<div class="container">
    <h1>Transposition and rotation of matrices</h1>

    <p>
        Change the integer values and click Process.
    </p>

    <form th:action="@{/arrays/matrixRotation/demo}" method="post" class="form-signin">
        <div class="row">
            <div class="col-1">
                <div class="input-group mb-3">
                    <div><input type="number" class="form-control" th:value="1" placeholder="1" name="one"></div>
                    <div><input type="number" class="form-control" th:value="4" placeholder="4" name="four"></div>
                    <div><input type="number" class="form-control" th:value="7" placeholder="7" name="seven"></div>
                </div>
            </div>

            <div class="col-1">
                <div><input type="number" class="form-control" th:value="2" placeholder="2" name="two"></div>
                <div><input type="number" class="form-control" th:value="5" placeholder="5" name="five"></div>
                <div><input type="number" class="form-control" th:value="8" placeholder="8" name="eight"></div>
            </div>

            <div class="col-1">
                <div><input type="number" class="form-control" th:value="3" placeholder="3" name="three"></div>
                <div><input type="number" class="form-control" th:value="6" placeholder="6" name="six"></div>
                <div><input type="number" class="form-control" th:value="9" placeholder="9" name="nine"></div>
            </div>
            <button class="btn btn-success" type="submit">Process</button>
        </div>
    </form>

    <!--/*@thymesVar id="flipped" type="java.lang.String"*/-->
    <div class="row" th:if="${flipped != null}">
        <!--/*@thymesVar id="matrix" type="java.lang.String"*/-->
        <div class="col-2" th:if="${matrix != null}">
            <div class="form-group">
                <label for="matrix1">Original matrix</label>
                <textarea class="form-control rounded-0" id="matrix1" rows="3" cols="1" th:text="${matrix}" readonly></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="flipped">Flipped matrix</label>
            <textarea class="form-control rounded-0" id="flipped" rows="3" cols="1" th:text="${flipped}" readonly></textarea>
        </div>
    </div>

    <!--/*@thymesVar id="transposed" type="java.lang.String"*/-->
    <div class="row" th:if="${transposed != null}">
        <!--/*@thymesVar id="matrix" type="java.lang.String"*/-->
        <div class="col-2" th:if="${matrix != null}">
            <div class="form-group">
                <label for="matrix2">Original matrix</label>
                <textarea class="form-control rounded-0" id="matrix2" rows="3" cols="1" th:text="${matrix}" readonly></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="transposed">Transposed matrix</label>
            <textarea class="form-control rounded-0" id="transposed" rows="3" cols="1" th:text="${transposed}" readonly></textarea>
        </div>
    </div>

    <!--/*@thymesVar id="rotated" type="java.lang.String"*/-->
    <div class="row" th:if="${rotated != null}">
        <!--/*@thymesVar id="matrix" type="java.lang.String"*/-->
        <div class="col-2" th:if="${matrix != null}">
            <div class="form-group">
                <label for="matrix3">Original matrix</label>
                <textarea class="form-control rounded-0" id="matrix3" rows="3" cols="1" th:text="${matrix}" readonly></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="rotated">Rotated matrix</label>
            <textarea class="form-control rounded-0" id="rotated" rows="3" cols="1" th:text="${rotated}" readonly></textarea>
        </div>
    </div>

    <a class="btn btn-success" th:href="@{/arrays/matrixRotation/demo}">Refresh page</a>
    <a class="btn btn-success" th:href="@{/arrays/matrixRotation}">Go back</a>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>